/* 创建一个网格背景 */
.design-layout {
  background-color: var(--theme-bg-color);
  background-image: radial-gradient(circle, var(--theme-grid-color) 1px, transparent 1px);
  background-size: 10px 10px;
}

/* 设计各板块的背景色 */
.design-layout__header,
.design-layout__components-panel,
.design-layout__canvas-panel,
.design-layout__attribute-panel {
  background-color: var(--theme-panel-bg);
}

/* 布局中心 */
.design-layout__body {
  width: 100%;
  height: calc(100vh - 57px);
  overflow: hidden;
  position: relative;
}

/* 各板块的绝对定位 */
.design-layout__components-panel,
.design-layout__canvas-panel,
.design-layout__attribute-panel {
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
}

.design-layout__components-panel,
.design-layout__attribute-panel {
  border-bottom: 1px solid var(--theme-border-color);
  height: calc(100% - 2px);
}

/* 组件面板 */
.design-layout__components-panel {
  left: 0;
}

/* 画布面板 */
.design-layout__canvas-panel {
  top: 20px;
  overflow: auto;
  box-shadow: var(--theme-shadow-color) 0 20px 25px -5px, var(--theme-shadow-color-light) 0 10px 10px -5px;
  cursor: pointer;
}

.design-layout__canvas-panel__body {
  height: 100%;
  width: 100%;
}

/* 属性面板 */
.design-layout__attribute-panel {
  right: 0;
}



.theme-switch:hover {
  opacity: 0.8;
}

/* 优化Vant组件主题 */
.van-tabs__nav {
  background-color: var(--theme-panel-bg);
  color: var(--theme-text-color);
}

.van-tab {
  color: var(--theme-text-color);
}

.van-tab--active {
  color: #409eff;
}