<!-- @contextmenu.prevent="$componentsContextmenu($event,component)" -->
<!-- @click="clickComponents(component)" -->
<component :is="config.component" :key="config.id" v-bind="config.props"
  :value="config.groupName === 'form'? formData[config.id] : undefined"
  @input="config.groupName === 'form'&& componentEmittedInput($event,config)">
  <template v-if="config.slot && typeof config.slot === 'string'">
    <span v-if="utils.isHtmlString(config.slot)" v-html="config.slot"></span>
    <span v-else>{{ config.slot }}</span>
  </template>
</component>