<!-- Block: preview-layout -->
<div class="preview-layout">
  <!-- Element: body -->
  <div class="preview-layout__body">
    <!-- Element: preview-panel -->
    <div class="preview-layout__canvas-panel">
      <div class="preview-layout__canvas-panel__body" id="previewContainer" ref="previewContainer">
        <div id="previewHeader" ref="previewHeader"></div>
        <preview-canvas :components-list="componentsList" :form-data="requestFormData"></preview-canvas>
      </div>
    </div>
  </div>
</div>
